<mat-card class="main selection" *ngIf="mode === 0">
  <mat-card-content>
    <h2 class="card-title">Karten</h2>
    <section>
      <h3>Themen wählen:</h3>
      <div class="topic-selection">
        <ng-template ngFor let-i="index" let-topic [ngForOf]="topics">
          <mat-checkbox class="example-margin" [(ngModel)]="selectedTopics[i]" (click)="updateBatchSize()">{{topic}}</mat-checkbox>
        </ng-template>
      </div>
    </section>
    <section>
      <h3>Box wählen:</h3>
      <mat-radio-group class="boxes-radio-group" [(ngModel)]="selectedBox">
        <mat-radio-button class="boxes-radio-button" *ngFor="let box of [1,2,3,4,5,6,7]" [value]="box">
          Box {{box}} ({{getCards(box, selectedTopics).length}} Karten)
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section>
      <h3>Kartenzahl nächste Runde:</h3>
      <mat-form-field class="example-margin">
          <input matInput type="tel" placeholder="Kartenzahl" [(ngModel)]="batchSize">
        </mat-form-field>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="start()">Start</button>
    <button mat-raised-button color="warn" (click)="reset()">Reset</button>
  </mat-card-actions>
</mat-card>

<mat-card class="main question" *ngIf="mode === 1">
  <mat-card-content>
    <h3>{{ topics[cards[batch[currentBatchIndex]].topic] }}</h3>
    <span class="card-text">{{ cards[batch[currentBatchIndex]].label }}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="success()">In die nächste Box</button>
    <button mat-raised-button color="warn" (click)="failure()">Wiederholen</button>
  </mat-card-actions>
</mat-card>
